$fontname = 'Noto Sans';

@font-face {
    font-family: $fontname;
    src: url('./NotoSansCJKjp-Light.woff') format('woff');
    font-weight: 'lighter';
}

@font-face {
    font-family: $fontname;
    src: url('./NotoSansCJKjp-Regular.woff') format('woff');
    font-weight: 'normal';
}

@font-face {
    font-family: $fontname;
    src: url('./NotoSansCJKjp-Bold.woff') format('woff');
    font-weight: 'bold';
}